.body{
    height: 90vh;
    width: 100%;
    background-color: #272C34;
    position: relative;
    display: flex;
    gap: 8rem;
    padding: 0.75rem 3.5rem;
}
.cat{
    position: absolute;
    font-size: 14.5rem;
    top: 15%;
    left: 8%;
    color: #d2c7c78f;
    z-index: 0;
}
.text p{
    color: #F5F5F5;
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    width: 44vw;
}
.ps{
    margin-top: 4.25vh;
}
.text h1{
    font-size: 4.95rem;
    color: #EBCA1B;
    font-weight: 700;
    padding-top: 1rem;
}
.img{
    height: 65vh;
    width: 40vw;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
}
.text2{
    margin-top: 2rem
}
.text2>p{
    color: #EBCA1B;
    font-size: 2.75rem;
    padding-bottom: 3.25rem;
}
.slider-container{
    padding-left: 8vw;
    width: 26vw;
    cursor: pointer;
}
.slide{
    height: 11.8vh;
    padding-top: 1.45rem;
    background-color: #ebc81bb7;
    border-radius: 20px;
    font-size: 1.56rem;
    text-align: center;
    color: #fff;
}
.button{
    height: 4.5rem;
    width: 15rem;
    background-color: #ebc81bb7;
    border-radius: 20px;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-left: 13rem;
}